{:linters
 {:unused-referred-var
  {:level :info
   :exclude {taoensso.timbre [trace tracef ; dont be strict in referring to logging functions 
                              debug debugf
                              info infof
                              warn warnf
                              error errorf]}}

  :unused-binding
  {:level :info}

  :unused-private-var
  {:level :info}

  :unresolved-symbol
  {:level :info
   ;:creates-vars {org.httpkit.server/with-channel [con]} 
   }
  
  :redundant-do
  {:level :info ; because the line below does not work, at least make them not ci breaking
   :exclude [pinkgorilla.nrepl.ws.relay/process-message-mem] ; TODO: this does not work 
   }
  ; linters end
  }
  :output {:format :text ;; or :edn
          ;:format :edn
           :summary true ;; outputs summary at end, only applicable to output :text
           ;; outputs analyzed var definitions and usages of them
           :analysis false
           ;; set to truthy to print progress while linting, only applicable to output :text
           :progress true
           ;; output can be filtered and removed by regex on filename. empty options leave the output untouched.
           :include-files [] #_["^src" "^test"]
           :exclude-files [;".*cljs"
                        ;  "src/demo/goldly.*"
                             ;"^cljs/core"
                             ; "profiles/test/src/demo/cljs.*"
                           ]
           ;; the output pattern can be altered using a template. use {{LEVEL}} to print the level in capitals.
           ;; the default template looks like this:
           ;; :pattern "{{filename}}:{{row}}:{{col}}: {{level}}: {{message}}"
           :canonical-paths false ;; set to true to see absolute file paths and jar files
           :level :warning}


 ;
 
 }
